@use "sass:map";
@use "sass:math";
@use "../config";
@use "../base/settings" as *;

.accordion {
    overflow: hidden;
    border-radius: var(--radius);
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}

[data-site-theme="dark"] .accordion {
    border: 1px solid var(--color-border-opaque);
    box-shadow: none;
}

.accordion-header {
    position: relative;
    display: block;
    width: 100%;
    padding: fd(24, 32);
}

.accordion-title {
    display: flex;
    gap: var(--space-s0);
    align-items: center;
    justify-content: space-between;
    padding-inline-end: fd(18, 40);
    font-weight: var(--font-weight-sign);
    line-height: 1.5;
    text-align: left;
}

.accordion-button {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 0 fd(12, 32) 0 0;
    background-color: initial;
    border: none;
}

.accordion-button[aria-expanded="true"] > .icon {
    transform: rotate(-180deg);
}

.accordion-body {
    display: none;
    padding-block: fd(12, 16) fd(24, 32);
    padding-inline: fd(24, 32);
    margin: 0;
}
