@use "../base/settings" as *;

.avatar,
.avatar > img {
    flex: none;
    width: var(--avatar-size, #{fd(90, 200)});
    object-fit: cover;
    border-radius: var(--radius-lg);
}

a[class^="avatar"]:hover {
    background-color: transparent;
}
