@use "../config";
@use "../base/settings" as *;
@use "../utilities/link";

.breadcrumbs__list {
    display: flex;
    gap: 0 0.6rem;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumbs__list li {
    display: flex;
    gap: 0 0.6rem;
    align-items: center;
    font-weight: var(--font-weight-sign);
    line-height: var(--line-height-sign);
    white-space: nowrap;

    &:last-child {
        color: var(--color-content-secondary);
    }
}

.breadcrumbs__list li + li::before {
    --angle-right: #{escape-svg(get-data-url(angle-right, config.$color-content-primary))};

    display: block;
    width: 1.2em;
    height: 1.2em;
    color: inherit;
    appearance: none;
    cursor: pointer;
    content: "";
    background-image: var(--angle-right);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2em;
    transition: color var(--duration);
}

[data-site-theme="dark"] .breadcrumbs__list li + li::before {
    --angle-right: #{escape-svg(get-data-url(angle-right, config.$color-content-primary-dark))};
}

.breadcrumbs__list li a {
    @extend %link-muted;
}
