@use "../base/settings" as *;
@use "../base/element" as *;

// ボタンのベーススタイル
// ソーシャルリンクボタンやタグなどの特殊な形状のボタンでも使用できるようにベーススタイルは切り出している
%button\:base {
    @extend %input-padding;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: fd(130, 168);
    font-size: inherit;
    font-weight: var(--font-weight-sign);
    line-height: var(--button-lh, var(--line-height-sign));
    color: var(--color-content-primary);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--radius-sm);
    transition: all 0.15s;

    &:link,
    &:visited {
        color: var(--color-content-primary);
    }
}

%button\:primary {
    position: relative;
    font-weight: var(--font-weight-sign);
    color: var(--color-content-button-primary);
    text-decoration: none;
    background-color: var(--color-background-button-primary);
    border: 1px solid var(--color-border-button-primary);

    &:link,
    &:visited {
        color: var(--color-content-button-primary);
        text-decoration: none;
        background-color: var(--color-background-button-primary);
    }
}

%button\:secondary {
    position: relative;
    color: var(--color-content-button-secondary);
    text-decoration: none;
    background-color: var(--color-background-button-secondary);
    border: 1px solid var(--color-border-button-secondary);

    &:link,
    &:visited {
        color: var(--color-content-button-secondary);
        text-decoration: none;
        background-color: var(--color-background-button-secondary);
    }
}

%button\:tertiary {
    position: relative;
    color: var(--color-content-button-tertiary);
    text-decoration: none;
    background-color: var(--color-background-button-tertiary);
    border: 1px solid var(--color-border-button-tertiary);

    &:link,
    &:visited {
        color: var(--color-content-button-tertiary);
        text-decoration: none;
        background-color: var(--color-background-button-tertiary);
    }
}

%button\:ghost {
    position: relative;
    color: inherit;
    text-decoration: none;

    &:link,
    &:visited {
        color: inherit;
        text-decoration: none;
        background-color: transparent;
    }

    &:hover {
        color: currentcolor;
        background-color: var(--color-background-highlight);
    }
}

%button\:with-icon {
    @extend %input-padding;

    padding: 0;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0;

    > span {
        display: block;
        align-self: stretch;
        padding-block: var(--input-padding-block);
        border-style: solid;
        border-width: 1px;
        border-radius: var(--radius-sm);
        transition: all 0.15s;
    }

    &:hover > span {
        color: var(--color-content-primary);
        background-color: var(--color-background-highlight);
    }

    > span:first-child {
        min-width: fd(130, 168);
        padding-inline: var(--input-padding-inline);
        text-align: center;
    }

    > span:last-child {
        display: flex;
        align-items: center;
        padding-inline: var(--input-padding-block);
        margin-inline-start: -1px;

        > svg {
            transition: all 0.3s;
            transform: translateX(0);
        }
    }

    &:hover > span:last-child {
        > svg {
            transform: translateX(0.5em);
        }
    }
}

%button\:with-icon\:on-right {
    @extend %input-padding;

    padding: 0;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0;

    > span {
        display: block;
        align-self: stretch;
        padding-block: var(--input-padding-block);
        border-style: solid;
        border-width: 1px;
        border-radius: var(--radius-sm);
        transition: all 0.15s;
    }

    &:hover > span {
        color: var(--color-content-primary);
        background-color: var(--color-background-highlight);
    }

    > span:last-child {
        min-width: fd(130, 168);
        padding-inline: var(--input-padding-inline);
        text-align: center;
    }

    > span:first-child {
        display: flex;
        align-items: center;
        padding-inline: var(--input-padding-block);
        margin-inline-end: -1px;

        > svg {
            transition: all 0.3s;
            transform: translateX(0);
        }
    }

    &:hover > span:first-child {
        > svg {
            transform: translateX(-0.5em);
        }
    }
}

%button\:icon {
    min-width: 0;
    padding: var(--input-padding-block);
    border-radius: 50%;

    > * + *,
    > svg:first-child {
        margin-inline-start: 0;
    }

    > svg:last-child {
        margin-inline-end: 0;
    }
}

%button\:wide {
    --button-width: #{rem(170px)};

    min-width: var(--button-width);
}

%button\:disabled {
    &:disabled,
    &:disabled:hover,
    &:disabled[tabindex="-1"],
    &:disabled[tabindex="-1"]:hover {
        color: var(--color-content-disabled);
        pointer-events: none;
        cursor: default;
        user-select: none;
        background-color: var(--color-background-disabled);
        border: 1px solid var(--color-border-disabled);
    }
}

.button {
    @extend %button\:base;
    @extend %button\:disabled;

    &\:icon {
        @extend %button\:base;
        @extend %button\:icon;
        @extend %button\:disabled;
    }

    &\:wide {
        @extend %button\:base;
        @extend %button\:disabled;
        @extend %button\:wide;
    }
}

.button\:primary {
    @extend %button\:base;
    @extend %button\:primary;
    @extend %button\:disabled;

    &\:with-icon {
        @extend %button\:base;
        @extend %button\:primary;
        @extend %button\:with-icon;
        @extend %button\:disabled;

        > span {
            background-color: var(--color-background-button-primary);
            border-color: var(--color-border-button-primary);
        }
    }

    &\:with-icon\:on-right {
        @extend %button\:base;
        @extend %button\:secondary;
        @extend %button\:with-icon\:on-right;
        @extend %button\:disabled;

        /* stylelint-disable no-descending-specificity */
        > span {
            background-color: var(--color-background-button-primary);
            border-color: var(--color-border-button-primary);
        }
        /* stylelint-enable no-descending-specificity */
    }

    &\:icon {
        @extend %button\:base;
        @extend %button\:primary;
        @extend %button\:icon;
        @extend %button\:disabled;
    }

    &\:wide {
        @extend %button\:base;
        @extend %button\:primary;
        @extend %button\:disabled;
        @extend %button\:wide;
    }
}

.button\:secondary {
    @extend %button\:base;
    @extend %button\:secondary;
    @extend %button\:disabled;

    &\:with-icon {
        @extend %button\:base;
        @extend %button\:secondary;
        @extend %button\:with-icon;
        @extend %button\:disabled;

        > span {
            border-color: currentcolor;
        }

        &:hover > span {
            color: currentcolor;
            background-color: var(--color-background-highlight);
            border-color: currentcolor;
        }
    }

    &\:with-icon\:on-right {
        @extend %button\:base;
        @extend %button\:secondary;
        @extend %button\:with-icon\:on-right;
        @extend %button\:disabled;

        /* stylelint-disable no-descending-specificity */
        > span {
            border-color: currentcolor;
        }
        /* stylelint-enable no-descending-specificity */

        &:hover > span {
            color: currentcolor;
            background-color: var(--color-background-highlight);
            border-color: currentcolor;
        }
    }

    &\:icon {
        @extend %button\:base;
        @extend %button\:secondary;
        @extend %button\:icon;
        @extend %button\:disabled;
    }

    &\:wide {
        @extend %button\:base;
        @extend %button\:secondary;
        @extend %button\:disabled;
        @extend %button\:wide;
    }
}

.button\:tertiary {
    @extend %button\:base;
    @extend %button\:tertiary;
    @extend %button\:disabled;

    &\:with-icon {
        @extend %button\:base;
        @extend %button\:secondary;
        @extend %button\:with-icon;
        @extend %button\:disabled;

        /* stylelint-disable no-descending-specificity */
        > span {
            border-color: var(--color-border-opaque);
        }
        /* stylelint-enable no-descending-specificity */

        &:hover > span {
            color: currentcolor;
            background-color: var(--color-background-highlight);
            border-color: var(--color-border-opaque);
        }
    }

    &\:with-icon\:on-right {
        @extend %button\:base;
        @extend %button\:secondary;
        @extend %button\:with-icon\:on-right;
        @extend %button\:disabled;

        /* stylelint-disable no-descending-specificity */
        > span {
            border-color: var(--color-border-opaque);
        }
        /* stylelint-enable no-descending-specificity */

        &:hover > span {
            color: currentcolor;
            background-color: var(--color-background-highlight);
            border-color: var(--color-border-opaque);
        }
    }

    &\:icon {
        @extend %button\:base;
        @extend %button\:tertiary;
        @extend %button\:icon;
        @extend %button\:disabled;
    }

    &\:wide {
        @extend %button\:base;
        @extend %button\:tertiary;
        @extend %button\:disabled;
        @extend %button\:wide;
    }
}

.button\:ghost {
    @extend %button\:base;
    @extend %button\:ghost;
    @extend %button\:disabled;

    &\:icon {
        @extend %button\:base;
        @extend %button\:ghost;
        @extend %button\:icon;
        @extend %button\:disabled;
    }

    &\:wide {
        @extend %button\:base;
        @extend %button\:ghost;
        @extend %button\:disabled;
        @extend %button\:wide;
    }
}

.swiper-button-disabled {
    @extend %button\:disabled;
}
