@use "sass:map";
@use "../config";
@use "../base/settings" as *;

.pill {
    display: inline-block;
    padding-block: var(--pill-padding-block, #{rem(8)});
    padding-inline: var(--pill-padding-inline, #{rem(11)});
    font-size: fd(rem(map.get($min-font-sizes, s-1)), rem(map.get($max-font-sizes, s0)));
    font-weight: var(--font-weight-sign);
    line-height: var(--line-height-sign);
    text-decoration: none;
    vertical-align: middle;
    appearance: none;
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-content-primary);
    border-radius: var(--radius);
}

.pill-secondary {
    display: inline-block;
    padding-block: var(--pill-padding-block, #{rem(8)});
    padding-inline: var(--pill-padding-inline, #{rem(11)});
    font-size: fd(rem(map.get($min-font-sizes, s-2)), rem(map.get($max-font-sizes, s-1)));
    font-weight: var(--font-weight-sign);
    line-height: var(--line-height-sign);
    color: var(--color-content-tertiary);
    text-decoration: none;
    vertical-align: middle;
    appearance: none;
    background-color: var(--color-background-secondary);
    border-radius: var(--radius-sm);
}

.pill-secondary::before {
    display: inline-block;
    content: "#";
}

a.pill,
a.pill:link {
    color: var(--color-content-primary);
}

a.pill-secondary,
a.pill-secondary:link {
    color: var(--color-content-tertiary);
}

a.pill:hover,
a.pill-secondary:hover {
    text-decoration: none;
    background-color: var(--color-background-highlight);
}
