@use "sass:map";
@use "../config";
@use "../base/settings" as *;
@use "../utilities/wrapper";

.search-form {
    position: relative;
    width: 100%;
    margin: 0;
}

.search-form__input__container {
    position: relative;
}

.search-form__input__container .icon {
    position: absolute;
    top: 50%;
    left: 1.2em;
    width: 1.5em;
    height: 1.5em;
    color: var(--color-content-disabled);
    transform: translateY(-50%);
}

.search-form__input {
    padding-block: var(--space-s2);
    padding-inline: 3.2em 5.5em;
    box-shadow:
        rgb(0 0 0 / 10%) 0 1px 3px 0,
        rgb(0 0 0 / 6%) 0 1px 2px 0;
}

.search-form__button {
    position: absolute;
    top: 50%;
    right: calc(var(--space-s0) / 2);
    min-width: 0;
    height: calc(100% - var(--space-s0));
    margin-inline-start: -1px;
    background-color: var(--color-background-primary);
    border-color: var(--color-border-content);
    transform: translateY(-50%);
}

// 1. グロナビボタンまでの余白を確保する
.search-icon-button-container {
    display: flex;
    align-items: center;
    margin-inline: 0 fd(48, 24); // 1
}

.search-icon-button {
    padding: fd(4, 8);
    font-size: rem(30);
}

.search-icon-button > .icon {
    width: 1em;
    height: 1em;
}

.search-icon-button__modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-block-start: var(--site-header-height);
    padding-inline: var(--site-gutter);
    background-color: rgb(255 255 255 / 54%);
}

[data-site-theme="dark"] .search-icon-button__modal {
    background-color: rgb(0 0 0 / 54%);
}
