<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards based custom ruleset for your plugin">
	<description>Generally-applicable sniffs for WordPress plugins.</description>

	<!-- What to scan -->
	<file>.</file>
	<exclude-pattern>/vendor/</exclude-pattern>
	<exclude-pattern>/node_modules/</exclude-pattern>

	<!-- How to scan -->
	<!-- Usage instructions: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<!-- Annotated ruleset: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<arg value="sp"/> <!-- Show sniff and progress -->
	<arg name="basepath" value="./"/><!-- Strip the file paths down to the relevant bit -->
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/><!-- Enables parallel processing when available for faster results. -->

	<!-- Rules: Check PHP version compatibility -->
	<!-- https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="5.6-"/>
	<!-- https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP"/>

	<!-- Rules: WordPress Coding Standards -->
	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
	<config name="minimum_supported_wp_version" value="4.6"/>
	<rule ref="WordPress">
        <exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
        <exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop"/>
        <exclude name="Squiz.Commenting.FunctionComment.ThrowsNoFullStop"/>
        <exclude name="Generic.Commenting.DocComment.LongNotCapital"/>
        <exclude name="Generic.Commenting.DocComment.ShortNotCapital"/>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<!-- Value: replace the function, class, and variable prefixes used. Separate multiple prefixes with a comma. -->
			<property name="prefixes" type="array" value="wpf"/>
		</properties>
	</rule>
    <rule ref="WordPress.NamingConventions.ValidVariableName">
		<properties>
			<property name="customPropertiesWhitelist" type="array">
				<element value="childNodes" />
				<element value="tagName" />
				<element value="textContent" />
				<element value="parentNode" />
				<element value="nodeType" />
				<element value="nodeName" />
				<element value="nextSibling" />
				<element value="previousSibling" />
				<element value="firstChild" />
				<element value="lastChild" />
				<element value="nodeValue" />
				<element value="ownerElement" />
				<element value="documentElement" />
				<element value="removeChild" />
				<element value="ownerDocument" />
				<element value="strictErrorChecking" />
				<element value="preserveWhiteSpace" />
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<!-- Value: replace the text domain used. -->
			<property name="text_domain" type="array" value="wordpressfoundation"/>
		</properties>
	</rule>
	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule>

    <!-- Exclude the unit tests from select sniffs. -->
    <rule ref="Generic.Commenting.DocComment.MissingShort">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
    <rule ref="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid" >
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
    <rule ref="WordPress.Files.FileName.NotHyphenatedLowercase">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
	<rule ref="PEAR.NamingConventions.ValidClassName.Invalid">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
    <rule ref="Squiz.Commenting.FileComment" >
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
    <rule ref="Squiz.Commenting.FunctionComment.Missing" >
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
    <rule ref="Squiz.Commenting.VariableComment.Missing" >
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

    

    

    <!--
    Prevent errors caused by WordPress Coding Standards not supporting PHP 8.0+.
    See https://github.com/WordPress/WordPress-Coding-Standards/issues/2035
    -->
    <ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />
</ruleset>
