@use "sass:math";
@use "sass:map";
@use "../../config";
@use "../../base/settings" as *;
@use "../../features/navigation/global-nav" as *;

///
/// プライマリナビ
///

// 1. ページヘッダーの潜り込みで上に重なってしまうのを防ぐ。
.primary-nav {
    position: relative; // 1
    z-index: z-index("primary-nav"); // 1
    display: flex;
    align-items: center;
    height: var(--site-header-height);
    margin-inline: auto 0;
    color: inherit;
}

.primary-nav > .navigation,
%primary-nav__navigation {
    font-size: var(--font-size-text--sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-sign);
}

.primary-nav > .navigation > ul > li {
    position: relative;
    display: flex;
    align-items: center;

    & > a {
        display: flex;
        align-items: center;
    }

    & > a:hover {
        text-decoration: none;
    }

    &:hover::before,
    &.current-menu-item::before {
        opacity: 1;
    }
}
