@use "sass:map";
@use "../config";
@use "../base/settings" as *;

.about-child-links {
    --about-child-links-gap: #{rem(16)};

    display: flex;
    flex-wrap: wrap;
    gap: var(--about-child-links-gap);
    align-items: flex-start;
    padding-block: fd(64, 96);
    padding-inline: var(--site-gutter);
}

.about-child-links__item {
    display: flex;
    flex-basis: calc(50% - var(--about-child-links-gap) / 2);
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: var(--radius);
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%);

    @media screen and (max-width: em(map.get($breakpoints, md))) {
        flex-basis: 100%;
    }

    @media screen and (max-width: em(map.get($breakpoints, sm))) {
        flex-direction: column-reverse;
    }
}

[data-site-theme="dark"] .about-child-links__item {
    border: 1px solid var(--color-border-opaque);
}

.about-child-links__item__main {
    display: flex;
    flex: 1;
    gap: fd(24, 48);
    align-items: center;
    justify-content: space-between;
    padding-block: fd(24, 40);
    padding-inline: fd(16, 48) fd(16, 24);
}

.about-child-links__item__main__content > * + * {
    margin-block-start: fd(8, 16);
}

.about-child-links__item__heading {
    font: var(--font-headline-2);
}

.about-child-links__item__body {
    line-height: 1.6;

    @media screen and (max-width: em(map.get($breakpoints, sm))) {
        font-size: var(--font-size-text--sm);
    }
}

.about-child-links__item__cta {
    flex-shrink: 0;
}

.about-child-links__item__thumbnail {
    --n: 1;
    --d: 1;

    flex-basis: fd(90, 249);
    flex-shrink: 0;

    @media screen and (max-width: em(map.get($breakpoints, sm))) {
        flex-basis: 100%;
        width: 100%;
    }
}

.about-child-links__item__thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
