@use "sass:map";
@use "../config";
@use "../base/settings" as *;
@use "../utilities/grid";
@use "../utilities/flow";
@use "../utilities/wrapper";

.archive-project {
    display: flex;
    gap: fd(1, 128);

    @media screen and (max-width: em(map.get($breakpoints, xl))) {
        flex-direction: column-reverse;
        gap: fd(48, 128);
    }
}

// 1. サイドバーの理想的な幅。auto はコンテンツに応じる。
// 2. 長いテキストが折り返されるようにする。
.archive-project__sidebar {
    flex-basis: fd(180, 249);
    flex-grow: 1; // 1
    min-width: 0; // 2

    @media screen and (max-width: em(map.get($breakpoints, xl))) {
        flex-basis: 100%;
        padding-block-start: fd(48, 64);
        border-top: 1px solid var(--color-border-opaque);
    }
}

.archive-project__sidebar > * + * {
    margin-block-start: rem(32);
}

// 1. 非サイドバーの理想的な幅。「0」の場合は利用可能な幅を埋める
// 2. 長いテキストが折り返されるようにする
.archive-project__main {
    display: grid;
    flex-basis: 0; // 1
    flex-grow: 999; // 1
    grid-template-columns: repeat(2, 1fr);
    gap: fd(18, 24);
    align-items: flex-start;
    min-width: 0; // 2

    @media screen and (max-width: em(map.get($breakpoints, md))) {
        grid-template-columns: 1fr;
    }
}

.archive-project__item {
    background-color: var(--color-background-color);
    border-radius: var(--radius-lg);
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}

.archive-project__item__inner {
    display: flex;
    flex-direction: column-reverse;
    gap: fd(24, 96);
    padding: fd(18, 32);

    @media screen and (max-width: em(map.get($breakpoints, lg))) {
        gap: fd(24, 32);
    }
}

.archive-project__item__header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s0);
    justify-content: space-between;

    @media screen and (max-width: em(map.get($breakpoints, lg))) {
        flex-direction: column;
    }
}

.archive-project__item__thubmnail {
    --n: 1;
    --d: 1;

    display: block;
    width: fd(120, 150);

    > img {
        border-radius: var(--radius);
    }

    @media screen and (max-width: em(map.get($breakpoints, lg))) {
        --n: 1;
        --d: 0.5625;

        width: 100%;
    }
}

.archive-project__item__main {
    @extend %flow;
}

.archive-project__item__excerpt {
    --flow-space: #{fd(18, 24)};
}

.archive-project__item__sub-categories {
    --flow-space: #{fd(24, 32)};

    display: flex;
    flex-wrap: wrap;
    gap: rem(8);
    padding-block-start: fd(18, 24);
    border-top: 1px solid var(--color-border-opaque);
}
