@use "sass:map";
@use "../config";
@use "../base/settings" as *;
@use "../utilities/wrapper";
@use "../utilities/grid";
@use "../utilities/flow";

.our-initiatives {
    margin-block-start: fd(64, 96);
}

.our-initiatives > * + * {
    margin-block-start: fd(64, 96);
}

.our-initiatives__header {
    display: flex;
    flex-direction: column;
    gap: fd(24, 32);
    align-items: center;
    padding-block-start: fd(64, 96);
    text-align: center;
    border-block-start: 1px solid var(--color-border-opaque);
}

.our-initiatives__header__main > * + * {
    margin-block-start: fd(24, 32);
}

[lang|="en"] .our-initiatives__header__overline {
    display: none;
}

.our-initiatives__header__heading {
    font: var(--font-headline-1);
}

.our-initiatives__main {
    @extend %grid-max-cols;

    --grid-gap: #{fd(48, 96)};
    --grid-max-column-count: 3;
    --grid-column-min-width: 280px;
}

.our-initiatives__item {
    @extend %flow;

    flex: 1;
    counter-increment: count 1;
}

.our-initiatives__item__heading {
    @extend %flow;

    font: var(--font-headline-2);
    text-align: center;
}

.our-initiatives__item__heading::before {
    display: block;
    margin-block-end: rem(21.33);
    font-size: rem(20);
    font-weight: var(--font-weight-sign);
    line-height: var(--line-height-sign);
    letter-spacing: -0.03em;
    content: counter(count, decimal-leading-zero);
}

.our-initiatives__item__icon {
    --flow-space: #{fd(32, 64)};
}

.our-initiatives__item__icon > svg {
    display: block;
    width: 100%;
    height: auto;
}

.our-initiatives__item__body {
    --flow-space: #{fd(24, 32)};
}

.our-initiatives__item__cta {
    --flow-space: #{fd(32, 64)};

    display: flex;
    justify-content: center;
}
