@use "sass:map";
@use "../config";
@use "../base/settings" as *;
@use "../utilities/flow";
@use "../utilities/repel";

.site-footer {
    padding-block: fd(64, 96) fd(48, 64);
    padding-inline: var(--site-gutter);
}

.site-footer__inner {
    @extend %flow;
}

.site-footer__nav-primary {
    --flow-space: #{fd(64, 96)};
}

.footer-nav-primary > .navigation__list {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr 1.2fr 1.2fr 1.2fr;
}

/* 最後以外の全アイテムにデフォルト30px */
.footer-nav-primary > .navigation__list > * {
    margin-inline-end: fd(48, 64);
}

/* 4番目以降のアイテムは10pxに上書き */
.footer-nav-primary > .navigation__list > *:nth-child(n + 5) {
    margin-inline-end: fd(18, 24);
}

/* 1500px以下 - 4列2行 */
@media screen and (max-width: em(1500)) {
    .footer-nav-primary > .navigation__list {
        grid-template-columns: repeat(4, 1fr);
    }

    /* margin-rightを全て共通の値に上書き */
    .footer-nav-primary > .navigation__list > * {
        margin-block-end: fd(36, 52);
        margin-inline-end: fd(16, 96);
    }
}

@media screen and (max-width: em(map.get($breakpoints, lg))) {
    .footer-nav-primary > .navigation__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: em(map.get($breakpoints, md))) {
    .footer-nav-primary > .navigation__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

.footer-nav-primary > .navigation__list > .menu-item > a {
    font-weight: var(--font-weight-bold);
}

.footer-nav-primary > .navigation__list > .menu-item > a + * {
    margin-block-start: rem(24);
}

.footer-nav-primary > .navigation__list > .menu-item .menu-item {
    margin-block-start: rem(12);
}

.footer-nav-primary > .navigation__list > .menu-item .sub-menu {
    padding: 0;
    list-style: none;
}

.site-footer__nav-secondary {
    --flow-space: #{fd(48, 64)};

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-start: fd(48, 64);
    border-top: 1px solid var(--color-border-opaque);
}

.footer-nav-secondary {
    font: var(--font-text--sm);
}

.site-footer__notice {
    --flow-space: #{fd(48, 64)};

    font: var(--font-text--xs);
}

.site-footer__copy-container {
    @extend %repel;

    --flow-space: #{rem(32)};
}
