@use "node_modules/swiper/swiper";
@use "node_modules/swiper/modules/a11y";
@use "node_modules/swiper/modules/navigation";
@use "node_modules/swiper/modules/effect-fade";
@use "../config";
@use "../base/settings" as *;

.syneco-branding-container {
    padding-inline: var(--site-gutter);
}

.syneco-branding {
    position: relative;
    width: 100%;
    height: calc(var(--vh) - var(--site-header-height));
}

.syneco-slider-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.syneco-slider {
    position: static;
    width: 100%;
    max-width: fd(750, 1150, 1728px, 1729px, true);
    height: auto;
    margin-block-start: calc(var(--site-header-height) * -1);
    margin-inline: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.syneco-slider.swiper-initialized {
    opacity: 1;
}

.syneco-slider__item-image {
    display: block;
    width: 100%;
    max-width: fd(750, 1150, 1728px, 1729px, true);
    height: auto;
    aspect-ratio: 375/326;
    margin-inline: auto;
    mask-image: url("/assets/src/images/syneco-slide-mask.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.syneco-slider__item-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 6s ease-out;
    transform: scale(1.15);
}

.swiper-slide-active .syneco-slider__item-image img {
    transform: scale(1);
}

.syneco-slider__item-title,
.syneco-slider__item-title:link,
.syneco-slider__item-title:visited {
    display: flex;
    gap: fd(12, 16);
    align-items: center;
    max-width: 88%;
    margin-block-start: fd(12, 36);
    font-weight: var(--font-weight-sign);
    line-height: var(--line-height-sign);
    color: var(--color-content-primary);
    text-decoration: none;
    opacity: 0;
    transition: all 0.3s ease;
}

.swiper-slide-active .syneco-slider__item-title {
    opacity: 1;
}

.syneco-slider__item-title__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: fd(40, 51);
    height: fd(40, 51);
    color: var(--color-content-inverse-primary);
    background-color: var(--color-background-inverse-primary);
    border-radius: 50%;
}

.syneco-slider__item-title__icon > svg {
    display: block;
    width: 1.2em;
    height: 1.2em;
}

.syneco-slider__item-title__text {
    font-size: fd(12, 16);
}

.syneco-slider__nav-container {
    position: absolute;
    bottom: fd(18, 52);
    left: 0;
    z-index: 1;
    display: flex;
    gap: var(--space-s-space);
    align-items: center;
}

.syneco-slider__play-pause-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fd(44, 60);
    height: fd(44, 60);
    color: var(--color-content-primary);
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-border-opaque);
    border-radius: 50%;

    svg {
        width: fd(14, 18);
        height: fd(14, 18);
    }
}

.syneco-slider__play-pause-button.is-playing [data-icon="play"] {
    display: none;
}

.syneco-slider__play-pause-button.is-playing [data-icon="pause"] {
    display: block;
}

.syneco-slider__play-pause-button.is-paused [data-icon="play"] {
    display: block;
}

.syneco-slider__play-pause-button.is-paused [data-icon="pause"] {
    display: none;
}

.syneco-slider__nav-button-prev,
.syneco-slider__nav-button-next {
    position: static;
    width: fd(44, 60);
    height: fd(44, 60);
    color: var(--color-content-primary);
    background-color: var(--color-background-primary);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    border: 1px solid var(--color-border-opaque);
    border-radius: 50%;
}

.syneco-slider__nav-button-prev {
    --angle-left: #{escape-svg(get-data-url(angle-left, config.$color-content-primary))};

    background-image: var(--angle-left);

    &.swiper-button-disabled {
        --angle-left: #{escape-svg(get-data-url(angle-left, config.$color-content-disabled))};
    }
}

[data-site-theme="dark"] .syneco-slider__nav-button-prev {
    --angle-left: #{escape-svg(get-data-url(angle-left, config.$color-content-primary-dark))};

    &.swiper-button-disabled {
        --angle-left: #{escape-svg(get-data-url(angle-left, config.$color-content-disabled-dark))};
    }
}

.syneco-slider__nav-button-next {
    --angle-right: #{escape-svg(get-data-url(angle-right, config.$color-content-primary))};

    background-image: var(--angle-right);

    &.swiper-button-disabled {
        --angle-right: #{escape-svg(get-data-url(angle-right, config.$color-content-disabled))};
    }
}

[data-site-theme="dark"] .syneco-slider__nav-button-next {
    --angle-right: #{escape-svg(get-data-url(angle-right, config.$color-content-primary-dark))};

    &.swiper-button-disabled {
        --angle-right: #{escape-svg(get-data-url(angle-right, config.$color-content-disabled-dark))};
    }
}

.syneco-branding__cta {
    position: absolute;
    right: 0;
    bottom: fd(24, 52);
    z-index: 1;
    display: flex;
    gap: var(--space-s-9);
    align-items: center;
}

.syneco-branding__cta-text {
    font-weight: var(--font-weight-sign);
    line-height: var(--line-height-sign);
}

// タグライン
.syneco-tagline {
    position: absolute;
    right: 0;
    bottom: fd(92, 163);
    z-index: 2;
    display: inline;
    font: var(--font-display);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: fd(8, 16);
    background-color: var(--color-background-primary);
}

html[lang|="ja"] .syneco-tagline,
html[lang|="zh"] .syneco-tagline {
    bottom: fd(64, 163);
}

.syneco-tagline > span {
    display: inline;
    background-color: var(--color-background-primary);
}

.syneco-body-copy {
    position: absolute;
    top: fd(20, 96);
    left: 0;
    z-index: 2;
    display: inline;
    max-width: fd(180, 300);
    font-size: fd(11, 16);
    font-weight: var(--font-weight-sign);
    line-height: fd(20, 32);
}

.syneco-body-copy > span {
    display: inline;
    background-color: var(--color-background-primary);
}
