@use "../../components/notice";
@use "../../components/prose";

.wp-block-group {
    > .is-layout-constrained:not(.alignwide, .alignfull) {
        width: calc(100% - var(--site-gutter) * 2);
        max-width: var(--width-content);
        margin-inline: auto;
    }
}

.widget_block .wp-block-group {
    > .is-layout-constrained:not(.alignwide, .alignfull) {
        width: revert;
        max-width: revert;
        margin-inline: revert;
    }
}

:where(.wp-block-group.has-background) {
    padding: revert;
}
